@using Microsoft.AspNet.Identity

@if (Session["userid"] != null )
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        string username = Convert.ToString(Session["userid"]);
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + username + "!", "HomePage", "Hims", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        <li><a href="http://localhost:53160/Hims/LogOff">Log Off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Patient Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
