@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Our Mission</p>

<p>Keeping faith with the teachings of the Roman Catholic Church and guided by the Bishop of Metuchen, Our Hospital is committed to humble service to humanity, especially the poor, through competence and good stewardship of resources.

We minister to the whole person, body and spirit, preserving the dignity and sacredness of each life. We are pledged to the creation of an environment of mutual support among our employees, physicians and volunteers and to the education and training of healthcare personnel.

We are witnesses in our community to the highest ethical and moral principles in pursuit of excellence and patient safety.</p>

<p>Our History</p>
<p>The first Hospital opened in New Brunswick in 1872. With the strong encouragement of Monsignor John O’Grady, pastor of Saint Peter’s Church in New Brunswick, The General Hospital opened in the Victorian home of former postmaster Charles Russell at Somerset and Hardenburgh streets in New Brunswick. Monsignor O’Grady asked the Grey Nuns of Montreal, also known as sisters of charity for their work with the needy, to run the hospital. There were six Grey Nuns, eight local physicians, and six other staff members when General Hospital opened. The year was 1907. Admitted its first patient, a 28-year-old stenographer, on November 8, 1907, with a “floating kidney,” a common diagnosis (for abdominal pain) at the time. Within the month, the hospital beds were inadequate for the demand.  In March of the following year, the hospital was incorporated with the Reverend Thomas J. Walsh, DD, LLD, then Bishop of the Diocese of Trenton, serving as president of the board of directors. The first baby born at Saint Peter’s came in 1909.

By 1910, the hospital had to build a new wing, adding 16 beds to the original 25.  In 1915, a 14-bed maternity wing was built for obstetrical and newborn care.  At the same time, a six-bed pediatric ward was established.

Today, University Hospital stands on nine acres of land on Easton Avenue donated to the hospital in 1923 by the Diocese of Trenton. The land had been the former home of Saint Mary’s Orphan Asylum and Home for the Aged which closed in 1926. The new hospital did not open there, though, until 1929, after an ambitious campaign to raise the money needed to build the first specially designed healthcare facility that would be home to Hospita. There would be many subsequent construction projects during the next decades, including major expansions during the 1970s under the leadership of Sister Marie de Pazzi, who was a member of the Sisters of Saint Joseph of Peace. Sister Marie and the Sisters of Joseph of Peace took over the leadership of Hospital when the Grey Nuns returned ownership of the hospital to the Diocese of Trenton. In 1981 following the completion of the centennial of the Trenton Diocese, the Diocese of Metuchen was created by Pope John Paul II with Bishop Theodore E. McCarrick named founding Bishop. The next year Medical Center’s ownership was transferred to the Diocese of Metuchen, which is the current sponsor of University Hospital.</p>


<p>Welcome to HIMS Healthcare System</p>
<p>HIMS's Healthcare System was formed in 2007 and reflects the expansive scope of health and wellness services we offer to our community.

Our services are offered to all. We are a Catholic institution with a capital "C" and a small "c." We draw inspiration from our religious heritage. Our care for others is universal, extending to those of other faiths and in some cases, of no faith whatsoever. Without question, the fact that ours is a faith-based healthcare delivery system is of primary significance. At HIMS's Healthcare System, you will find leading-edge technology and an experienced staff. You will also find the trust and compassion that we have always been known for.</p>
